.fancypants-accept-container {
    border: solid #BBB 1px;
    background: #DDD;
    color: #666;
    padding: 1em;
    line-height: 3em;
    text-align: center;
    font-weight: bold;
    cursor: default;
}
