.fancypants-widget-panel {
    width: 200px;
    border-left: solid #BBB 1px;
    background: #DDD;
    margin: 0;
    padding: 0;
}

.fancypants-widget-list {
    list-style: none;
    margin: 0;
    padding: 0 !important;
    overflow: visible !important;
}

.fancypants-widget-item {
    width: 180px;
    margin: 10px;
    text-align: center;
    border: solid #BBB 2px;
    border-radius: 5px;
    cursor: move;
    background-color: #FFF;
}

.fancypants-widget-item img {
    margin: auto;
}

.fancypants-widget-item p {
    margin: 0;
}
